@import url('https://fonts.googleapis.com/css?family=Open+Sans');

::-webkit-scrollbar {
    display: none;
}

body {
    background: black;
    color: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding: 10%;
}

a:link {
    color: #b390d0;
}

a:visited {
    color: #c6abdb;
}

a:hover {
    color: #a074c4;
}

blockquote {
    border-left: 0.2em solid #b8b8b8;
    padding-left: 0.6em;
    color: #b8b8b8;
    margin: 0;
}

code {
    display: block;
    white-space: pre-line;
    background: #333;
    padding: 2%;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 1% 0px;
    overflow: hidden;
    background: black;
    position: sticky;
    top: 0;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

li.menu a:hover {
    background-color: #111;
}

#active {
    background-color: #a074c4;
    color: black !important;
    border-radius: 0.4em;
}

.menu a {
    color: #a074c4 !important;
}